#footer{
	width:100%;
	height:200px;
	background-color:#000;
	padding-top: 30px;
}
#footer .footer_logo{
	float: left;
	height: 85px;
	width: 85px;
	display: block;
	margin-left: 160px;
	margin-right: 36px;
	border: 0px solid white;
}

#footer .txtwrapper{
	display: inline-block;
	color: #fff;
	opacity: 0.7;
	font-size: 13px;
	line-height: 1.75em;
	margin-left: 4px;
	margin-top: 15px;
}
#footer .txtwrapper img{
	float: left;
	height: 20px;
	width: 20px;
}
#footer .copy{
	margin-top: 12px;
	width:100%;
	font-size: 12px;
	color: #5558;
	text-align:center;
	height:50px;
	line-height:50px;
	border: 0px solid white;
}